# Working with JSON files:

In [11]:
!mkdir "%USERPROFILE%\.kaggle" 2> nul
!copy kaggle.json "%USERPROFILE%\.kaggle\" > nul

In [46]:
!kaggle datasets download -d kaggle/recipe-ingredients-dataset

Dataset URL: https://www.kaggle.com/datasets/kaggle/recipe-ingredients-dataset
License(s): unknown
Downloading recipe-ingredients-dataset.zip to C:\Users\Patel_asus\ml 100 days

  0%|          | 0.00/2.23M [00:00<?, ?B/s]
100%|##########| 2.23M/2.23M [00:00<00:00, 715MB/s]

In [48]:
import zipfile
import os

# Using raw string (best option)
zip_path = r'C:\Users\Patel_asus\ml 100 days\recipe-ingredients-dataset.zip'

# Extract to current directory
with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall()
    
print(f"Files extracted to: {os.getcwd()}")

Files extracted to: C:\Users\Patel_asus\ml 100 days

In [50]:
import pandas as pd
pd.read_json('train.json')

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

In [52]:
# JSON from a link:
pd.read_json('https://api.exchangerate-api.com/v4/latest/INR')

,provider,WARNING_UPGRADE_TO_V6,terms,base,date,time_last_updated,rates
INR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-06-03,1748908802,1.000
AED,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-06-03,1748908802,0.043
AFN,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-06-03,1748908802,0.813
ALL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-06-03,1748908802,1.010
AMD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-06-03,1748908802,4.500
...,...,...,...,...,...,...,...
XPF,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-06-03,1748908802,1.220
YER,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-06-03,1748908802,2.850
ZAR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-06-03,1748908802,0.210
ZMW,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-06-03,1748908802,0.312
ZWL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-06-03,1748908802,0.081

# Working with SQL files:

In [15]:
!kaggle datasets download -d busielmorley/worldcities-pop-lang-rank-sql-create-tbls

Dataset URL: https://www.kaggle.com/datasets/busielmorley/worldcities-pop-lang-rank-sql-create-tbls
License(s): world-bank
Downloading worldcities-pop-lang-rank-sql-create-tbls.zip to C:\Users\Patel_asus\ml 100 days

  0%|          | 0.00/89.9k [00:00<?, ?B/s]
100%|##########| 89.9k/89.9k [00:00<00:00, 31.0MB/s]

In [55]:
zip_path = r'C:\Users\Patel_asus\ml 100 days\worldcities-pop-lang-rank-sql-create-tbls.zip'

with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall()
    
print(f"Files extracted to: {os.getcwd()}")

Files extracted to: C:\Users\Patel_asus\ml 100 days

In [57]:
!pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
      --------------------------------------- 0.3/11.9 MB ? eta -:--:--
      --------------------------------------- 0.3/11.9 MB ? eta -:--:--
     - ------------------------------------- 0.5/11.9 MB 621.2 kB/s eta 0:00:19
     -- ------------------------------------ 0.8/11.9 MB 685.3 kB/s eta 0:00:17
     -- ------------------------------------ 0.8/11.9 MB 685.3 kB/s eta 0:00:17
     --- ----------------------------------- 1.0/11.9 MB 751.1 kB/s eta 0:00:15
     ---- ---------------------------------- 1.3/11.9 MB 789.6 kB/s eta 0:00:14
     ----- --------------------------------- 1.6/11.9 MB 839.1 kB/s eta 0:00:13
     ------ -------------------------------- 1.8/11.9 MB 915.0 kB/s eta 0:00:11
     ------ -------------------------------- 2.1/11.9 MB 954.7 kB/s eta 0:00:11
     -------- ------------------------------- 2.6/11.9 MB 1.0 MB/s eta 0:00:10
     --------- ------------------------------ 2.9/11.9 MB 1.0 MB/s eta 0:00:09
     --------- ------------------------------ 2.9/11.9 MB 1.0 MB/s eta 0:00:09
     ----------- ---------------------------- 3.4/11.9 MB 1.1 MB/s eta 0:00:08
     ------------ --------------------------- 3.7/11.9 MB 1.1 MB/s eta 0:00:08
     ------------- -------------------------- 3.9/11.9 MB 1.1 MB/s eta 0:00:08
     -------------- ------------------------- 4.2/11.9 MB 1.1 MB/s eta 0:00:07
     --------------- ------------------------ 4.5/11.9 MB 1.2 MB/s eta 0:00:07
     ---------------- ----------------------- 5.0/11.9 MB 1.2 MB/s eta 0:00:06
     ----------------- ---------------------- 5.2/11.9 MB 1.2 MB/s eta 0:00:06
     ------------------ --------------------- 5.5/11.9 MB 1.2 MB/s eta 0:00:06
     -------------------- ------------------- 6.0/11.9 MB 1.3 MB/s eta 0:00:05
     ---------------------- ----------------- 6.6/11.9 MB 1.3 MB/s eta 0:00:05
     ----------------------- ---------------- 7.1/11.9 MB 1.4 MB/s eta 0:00:04
     ----------------------- ---------------- 7.1/11.9 MB 1.4 MB/s eta 0:00:04
     ------------------------ --------------- 7.3/11.9 MB 1.3 MB/s eta 0:00:04
     -------------------------- ------------- 7.9/11.9 MB 1.4 MB/s eta 0:00:03
     -------------------------- ------------- 7.9/11.9 MB 1.4 MB/s eta 0:00:03
     --------------------------- ------------ 8.1/11.9 MB 1.3 MB/s eta 0:00:03
     ----------------------------- ---------- 8.7/11.9 MB 1.3 MB/s eta 0:00:03
     ------------------------------ --------- 9.2/11.9 MB 1.4 MB/s eta 0:00:02
     ------------------------------- -------- 9.4/11.9 MB 1.4 MB/s eta 0:00:02
     ---------------------------------- ----- 10.2/11.9 MB 1.4 MB/s eta 0:00:02
     ----------------------------------- ---- 10.5/11.9 MB 1.4 MB/s eta 0:00:01
     ------------------------------------- -- 11.0/11.9 MB 1.5 MB/s eta 0:00:01
     -------------------------------------- - 11.3/11.9 MB 1.5 MB/s eta 0:00:01
     -------------------------------------- - 11.5/11.9 MB 1.5 MB/s eta 0:00:01
     ---------------------------------------- 11.9/11.9 MB 1.5 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp312-cp312-win_amd64.whl size=247959 sha256=6e1f1e147eaff8a70ee5e35d89c17702c51507f75bf77454ff5b35d1d55c603e
  Stored in directory: c:\users\patel_asus\appdata\local\pip\cache\wheels\03\17\fa\d7604c72dd3dd6d3eb3d249abf36cc532c9a9b4354b8f1bc4f
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [59]:
import mysql.connector

In [65]:
conn = mysql.connector.connect(host='localhost',user='root',password='',database='world')

In [77]:
pd.read_sql_query("SELECT * FROM city",conn)
# we can manipulate more with sql query

C:\Users\Patel_asus\AppData\Local\Temp\ipykernel_16504\374620591.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("SELECT * FROM city",conn)

        ID            Name CountryCode       District  Population
0        1           Kabul         AFG          Kabol     1780000
1        2        Qandahar         AFG       Qandahar      237500
2        3           Herat         AFG          Herat      186800
3        4  Mazar-e-Sharif         AFG          Balkh      127800
4        5       Amsterdam         NLD  Noord-Holland      731200
...    ...             ...         ...            ...         ...
4074  4075      Khan Yunis         PSE     Khan Yunis      123175
4075  4076          Hebron         PSE         Hebron      119401
4076  4077        Jabaliya         PSE     North Gaza      113901
4077  4078          Nablus         PSE         Nablus      100231
4078  4079           Rafah         PSE          Rafah       92020

[4079 rows x 5 columns]